.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
}

@media screen and (max-width: 992px) {
    .layout {
        grid-template-columns: unset;
        grid-template-rows: 80px 1fr;
    }

    .layout > * {
        min-width: 0;
    }
}