.navbar {
    grid-column: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease, width 0.3s ease;
}

.navbar.open {
    height: 100%;
}

.navbar .navbar-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 12;
}

.navbar .navbar-header .navbar-photo {
    height: 250px;
    width: 250px;
}

.navbar .navbar-header .navbar-photo img {
    height: 250px;
    width: 250px;
}

.navbar .navbar-header .navbar-fullname {
    color: var(--text-primary);
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
}

.navbar .navbar-header .navbar-fullname h4 {
    margin: 0;
}

.navbar .navbar-header .navbar-togglebutton {
    display: none;
}

.navbar .navbar-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 11;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar .navbar-content .menu {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar .navbar-content .menu .menu-links li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.navbar .navbar-content .menu .menu-links li:hover {
    cursor: pointer;
    background-color: var(--hover-primary);
    color: var(--text-primary);
}

.navbar .navbar-content .menu .menu-links li .menu-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0px 25px;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    transition: color 1s ease;
}

.navbar .navbar-content .menu-links li .menu-link.active {
    color: var(--text-accent) !important;
}

.navbar .navbar-content .menu-links li .menu-link .menu-icon {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.navbar .navbar-content .menu-links li .menu-link p {
    margin: unset;
}

.navbar .navbar-content .footer {
    color: var(--text-secondary);
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.navbar .navbar-content .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-content .footer ul a {
    color: var(--text-secondary);
    font-size: 25px;
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.navbar .navbar-content .footer ul a:hover {
    color: var(--text-primary);
}

.navbar .navbar-content .footer .copy p {
    line-height: 1.65;
    margin-top: 10px;
}

@media screen and (max-width: 992px) {

    .navbar {
        grid-row: 1;
        height: 80px;
        width: 100%;
    }

    .navbar .navbar-header {
        flex-direction: row;
    }

    .navbar .navbar-header .navbar-photo {
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .navbar-header .navbar-photo img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .navbar .navbar-header .navbar-togglebutton {
        height: 80px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .navbar .navbar-header .navbar-togglebutton i {
        position: absolute;
        font-size: 35px;
    }

    .navbar .navbar-header .navbar-fullname {
        position: unset;
        bottom: unset;
        width: unset;
    }

    .navbar .menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .navbar-content .menu-links li .menu-link p {
        margin: auto;
    }

    .navbar .navbar-content .menu-links li .menu-link {
        padding: 0px 28px;
    }
}

@media screen and (min-width: 992px) {

    .navbar .navbar-content.open {
        height: 0;
    }

}