:root {
    --background-primary: #1F1F1F;
    --background-secondary: #2F3033;
    --background-tertiary: #18191C;
    --background-overlay: #18191bCC;
    --background-gradient: #00000099;

    --text-primary: #FFFFFF;
    --text-secondary: #AAAAAA;
    --text-accent: #66B2FF;

    --border-primary: #282A2D;
    --border-secondary: #999999;

    --hover-primary: #3B5C7A;
}

:root[data-theme="light"] {
    --background-primary: #FFFFFF;
    --background-secondary: #F0F0F0;
    --background-tertiary: #E0E0E0;
    --background-overlay: #FFFFFFCC;
    --background-gradient: #FFFFFF33;

    --text-primary: #111111;
    --text-secondary: #333333;
    --text-accent: #1A73E8;

    --border-primary: #CCCCCC;
    --border-secondary: #999999;

    --hover-primary: #B3D1FF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    transition: transform 0.3s ease, height 0.3s ease;
    z-index: 10;
}

.sidebar.open {
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .sidebar-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 12;
}

.sidebar .sidebar-header .sidebar-photo {
    height: 250px;
    width: 250px;
    padding: 0px;
}

.sidebar .sidebar-header .sidebar-photo img {
    height: 250px;
    width: 250px;
}

.sidebar .sidebar-header .sidebar-fullname {
    color: var(--text-primary);
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
}

.sidebar .sidebar-header .sidebar-fullname h4 {
    margin: 0;
}

.sidebar .sidebar-header .sidebar-togglebutton {
    position: relative;
    right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 0;
    display: none;
}

.sidebar .sidebar-header .sidebar-togglebutton i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar .sidebar-header .sidebar-togglebutton .icon-menu {
    opacity: 1;
}

.sidebar .sidebar-header .sidebar-togglebutton .icon-cross {
    opacity: 0;
}

.sidebar.open .sidebar-header .sidebar-togglebutton .icon-menu {
    opacity: 0;
}

.sidebar.open .sidebar-header .sidebar-togglebutton .icon-cross {
    opacity: 1;
}

.sidebar .sidebar-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 11;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar .sidebar-content .menu {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar .sidebar-content .menu .menu-links li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.sidebar .sidebar-content .menu .menu-links li:hover {
    cursor: pointer;
    background-color: var(--hover-primary);
    color: var(--text-primary);
}

.sidebar .sidebar-content .menu .menu-links li .menu-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0px 25px;
    align-items: center;
    font-size: 13px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.sidebar .sidebar-content .menu-links li .menu-link.active {
    color: var(--text-primary) !important;
}

.sidebar .sidebar-content .menu-links li .menu-link .menu-icon {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.sidebar .sidebar-content .menu-links li .menu-link p {
    margin: unset;
}

.sidebar .sidebar-content .footer {
    color: var(--text-secondary);
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}

.sidebar .sidebar-content .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-content .footer ul a {
    color: var(--text-secondary);
    font-size: 25px;
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.sidebar .sidebar-content .footer ul a:hover {
    color: var(--text-primary);
}

.sidebar .sidebar-content .footer .copy p {
    line-height: 1.65;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* content */
.content {
    background-color: var(--background-primary);
    color: var(--text-primary);
    z-index: 1;
    padding-top: 0;
    padding-left: 250px;
    transition: none;
}

.content .theme-settings {
    position: fixed;
    top: 0px;
    left: 250px;
    z-index: 9;
    height: 35px;
    width: 35px;
    transition: all 0.3s ease;
    transform: translateX(-25px);
}

.content .theme-settings:hover {
    transform: translateX(0px);
}

.content .theme-settings .theme-icons {
    position: relative;
    height: 35px;
    width: 75px;
    top: 0;
    left: -40px;
    background-color: var(--text-accent);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    cursor: pointer;
}

.content .theme-settings .theme-icons .lnr-moon {
    color: black;
    transform: rotate(180deg);
    margin-right: auto;
}

.content .theme-settings .theme-icons .lnr-sun {
    color: white;
    margin-left: auto;
}

.rotate-180 {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

.content .sub-content-border {
    padding: 20px;
}

.content .sub-content {
    height: 100%;
    background-color: var(--background-secondary);
    padding: 20px 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.content .sub-content-header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: var(--text-primary);
    padding-bottom: 20px;
    border-bottom: 2px dashed var(--text-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.sub-content>div:last-child {
    padding: 20px 0px;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-name,
.sub-content-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-icon {
    font-size: 36px;
    margin-left: auto;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-icon {
    font-size: 36px;
    margin-left: auto;
}

/* home */
#home {
    height: 800px;
}

#homeContent {
    position: relative;
    overflow: hidden;
    z-index: 0
}

.home-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background-gradient), var(--background-gradient));
    z-index: -1;
}

.content .sub-content-border .sub-content .sub-content-home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-name {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-name .surname {
    color: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job .jobname {
    position: relative;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job .jobname::after {
    position: absolute;
    top: 0;
    right: -6px;
    content: '|';
    animation: blink 0.7s steps(1) infinite;

}

/* aboutme */
.content .sub-content-border .sub-content .sub-content-about {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content .sub-content-border .sub-content .sub-content-about .info-summary {
    padding-right: 20px;
    width: 50%;
}

.content .sub-content-border .sub-content .sub-content-about .info-table {
    background-color: var(--background-tertiary);
    border-radius: 25px;
    width: 50%;
    padding: 20px;
}

.content .sub-content-border .sub-content .sub-content-about .info-table ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;
    text-align: left;
}

.content .sub-content-border .sub-content .sub-content-about .info-table ul>li {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid var(--text-accent);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.content .sub-content-border .sub-content .sub-content-about .info-table ul>li:last-child {
    border: none;
}

.content .sub-content-border .sub-content .sub-content-about .info-table .download-link {
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    text-decoration: none;
}

/* resume */
.content .sub-content-border .sub-content .sub-content-resume {
    display: flex;
    flex-direction: row;
}

.content .sub-content-border .sub-content .sub-content-resume .resume-part {
    width: 50%;
}

.content .sub-content-border .sub-content .sub-content-resume .resume-part.experiences {
    padding-right: 20px
}

.content .sub-content-border .sub-content .sub-content-resume .resume-part.educations {
    padding-left: 20px
}

.content .sub-content-border .sub-content .sub-content-resume .resume-part .resume-part-header {
    width: 100%;
    text-align: center;
    margin: 20px 0px 40px 0px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;

}

.resume-part-header span {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-resume .education,
.experience {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.content .sub-content-border .sub-content .sub-content-resume .experience-list>.experience:last-child,
.content .sub-content-border .sub-content .sub-content-resume .education-list>.education:last-child {
    margin-bottom: 0px;
}

.content .sub-content-border .sub-content .sub-content-resume .education-years,
.experience-years {
    display: flex;
    flex-direction: column;
}

.content .sub-content-border .sub-content .sub-content-resume .start-year {
    font-weight: bold;
}

.content .sub-content-border .sub-content .sub-content-resume .end-year {
    font-weight: bold;
    margin-top: auto;
}

.content .sub-content-border .sub-content .sub-content-resume .education-line,
.experience-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 10px;
    color: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-resume .line-circle {
    width: 14px;
    height: 14px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-color: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-resume .line-bar {
    width: 2px;
    background-color: var(--text-primary);
    height: calc(100% - 28px);
    margin: 0;
    padding: 0;
    background: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-resume .education-explanation,
.experience-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .sub-content-border .sub-content .sub-content-resume .explanation-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content-border .sub-content .sub-content-resume .explanation-company {
    font-weight: bold;
    font-size: 12px;
    color: var(--text-accent);
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content-border .sub-content .sub-content-resume .explanation-summary {
    font-size: 16px;
}

/* portfolio */
.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio {
    height: 220px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    background-color: var(--background-tertiary);
    border-radius: 20px;
    cursor: pointer;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link {
    text-decoration: none;
    color: inherit;
    background-color: var(--text-accent);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link:hover {
    color: var(--hover-primary);
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-name {
    font-size: 18px;
    margin: 10px 0px;
}

.content .sub-content-border .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-info {
    font-size: 14px;
    color: var(--text-secondary);
}

/* blog */
.content .sub-content-border .sub-content .sub-content-blog .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog {
    height: 220px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    background-color: var(--background-tertiary);
    cursor: pointer;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links .blog-link {
    text-decoration: none;
    color: inherit;
    background-color: var(--text-accent);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links .blog-link:hover {
    color: var(--hover-primary);
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-name {
    font-size: 18px;
    margin: 10px 0px;
}

.content .sub-content-border .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-info {
    font-size: 14px;
    color: var(--text-secondary);
}

/* contact */
.content .sub-content-border .sub-content .sub-content-contact .contact-form-header {
    width: 100%;
    text-align: center;
    margin: 20px 0px 40px 0px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-header span {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--text-primary);
    padding: 40px 20px;
    border-radius: 20px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part.personal-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-field {
    font-size: 16px;
    width: 100%;
    color: var(--text-primary);
    background-color: transparent;
    border: 2px solid var(--border-secondary);
    outline: none;
    transition: border-color 0.3s ease;
    padding: 10px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-field:focus {
    border-color: #0af;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-label {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-secondary);
    pointer-events: none;
    transition: all 0.3s ease;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-field:focus+.input-label {
    top: -30px;
    left: -10px;
    font-size: 14px;
    color: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-field:focus+.input-label,
.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group.input-filled .input-label {
    top: -30px;
    left: -10px;
    font-size: 14px;
    color: var(--text-secondary);
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .form-group .input-field:focus+.input-label {
    color: var(--text-accent);
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part .submit-form-button {
    color: var(--text-primary);
    border: 2px solid var(--text-accent);
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: not-allowed;
    letter-spacing: 1px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-additional {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px 20px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-additional .additional-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-additional .additional-item .icon {
    color: var(--text-accent);
    font-size: 30px;
    margin-bottom: 20px;
}

.content .sub-content-border .sub-content .sub-content-contact .contact-form-additional .additional-item .info a {
    color: var(--text-primary);
    text-decoration: none;
}

/* responsive */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {

    .sidebar {
        height: 80px;
        width: 100%;
    }

    .sidebar .sidebar-header {
        flex-direction: row;
    }

    .sidebar .sidebar-header .sidebar-photo {
        height: 80px;
        width: 80px;
        padding: 10px;
    }

    .sidebar .sidebar-header .sidebar-photo img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .sidebar .sidebar-header .sidebar-togglebutton {
        display: block;
    }

    .sidebar .sidebar-header .sidebar-fullname {
        position: unset;
        bottom: unset;
        width: unset;
    }

    .sidebar .menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    .sidebar .sidebar-content .menu-links li .menu-link p {
        margin: auto;
    }

    .sidebar .sidebar-content .menu-links li .menu-link {
        padding: 0px 28px;
    }

    .content {
        padding-left: 0;
        padding-top: 80px;
    }

    .content .theme-settings {
        top: 80px;
        left: unset;
        right: 10px;
        transform: translateY(-25px);
        transition: all 0.3s ease;
    }

    .content .theme-settings:hover {
        transform: translateY(0px);
    }

    .content .theme-settings .theme-icons {
        flex-direction: column;
        height: 75px;
        width: 35px;
        left: unset;
        top: -40px;
        padding: 10px 0px;
    }

    .content .theme-settings .theme-icons .lnr-moon {
        margin-bottom: auto;
        margin-right: unset;
    }

    .content .theme-settings .theme-icons .lnr-sun {
        margin-top: auto;
        margin-left: unset;
    }

    .content .sub-content-border {
        scroll-margin-top: 80px;
    }

    .content .sub-content-border .sub-content {
        padding: 10px 20px;
    }

    .content .sub-content-border .sub-content .sub-content-about {
        flex-direction: column;
    }

    .content .sub-content-border .sub-content .sub-content-about .info-summary {
        padding-right: 0px;
        padding-bottom: 20px;
        width: 100%;
    }

    .content .sub-content-border .sub-content .sub-content-about .info-table {
        width: 100%;
    }

    .content .sub-content-border .sub-content .sub-content-resume {
        flex-direction: column;
    }

    .content .sub-content-border .sub-content .sub-content-resume .resume-part {
        width: 100%;
        padding: 0 !important;
    }

    .content .sub-content-border .sub-content .sub-content-resume .resume-part.educations {
        margin-top: 20px;
    }

    .content .sub-content-border .sub-content .sub-content-contact .contact-form-content .form-part.personal-info {
        flex-direction: column;
        gap: 0px;
    }

    .content .sub-content-border .sub-content .sub-content-contact .contact-form-additional {
        flex-direction: column;
    }

}

@media screen and (min-width: 992px) {

    .sidebar .sidebar-content.open {
        height: 0;
    }

}