:root {
    --background-primary: #1F1F1F;
    --background-secondary: #2F3033;
    --background-tertiary: #18191C;
    --background-overlay: #18191bCC;
    --background-gradient: #00000099;

    --text-primary: #FFFFFF;
    --text-secondary: #AAAAAA;
    --text-accent: #66B2FF;

    --border-primary: #282A2D;
    --border-secondary: #999999;

    --hover-primary: #3B5C7A;
}

:root[data-theme="light"] {
    --background-primary: #FFFFFF;
    --background-secondary: #F0F0F0;
    --background-tertiary: #E0E0E0;
    --background-overlay: #FFFFFFCC;
    --background-gradient: #FFFFFF33;

    --text-primary: #111111;
    --text-secondary: #333333;
    --text-accent: #1A73E8;

    --border-primary: #CCCCCC;
    --border-secondary: #999999;

    --hover-primary: #B3D1FF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

/* layout */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
}

/* sidebar */
.sidebar {
    grid-column: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease, width 0.3s ease;
}

.sidebar.open {
    height: 100%;
}

.sidebar .sidebar-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 12;
}

.sidebar .sidebar-header .sidebar-photo {
    height: 250px;
    width: 250px;
}

.sidebar .sidebar-header .sidebar-photo img {
    height: 250px;
    width: 250px;
}

.sidebar .sidebar-header .sidebar-fullname {
    color: var(--text-primary);
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
}

.sidebar .sidebar-header .sidebar-fullname h4 {
    margin: 0;
}

.sidebar .sidebar-header .sidebar-togglebutton {
    display: none;
}

.sidebar .sidebar-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 11;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar .sidebar-content .menu {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar .sidebar-content .menu .menu-links li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.sidebar .sidebar-content .menu .menu-links li:hover {
    cursor: pointer;
    background-color: var(--hover-primary);
    color: var(--text-primary);
}

.sidebar .sidebar-content .menu .menu-links li .menu-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0px 25px;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    transition: color 1s ease;
}

.sidebar .sidebar-content .menu-links li .menu-link.active {
    color: var(--text-accent) !important;
}

.sidebar .sidebar-content .menu-links li .menu-link .menu-icon {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.sidebar .sidebar-content .menu-links li .menu-link p {
    margin: unset;
}

.sidebar .sidebar-content .footer {
    color: var(--text-secondary);
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.sidebar .sidebar-content .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-content .footer ul a {
    color: var(--text-secondary);
    font-size: 25px;
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.sidebar .sidebar-content .footer ul a:hover {
    color: var(--text-primary);
}

.sidebar .sidebar-content .footer .copy p {
    line-height: 1.65;
    margin-top: 10px;
}

/* content */
.content {
    grid-column: 2;
    background-color: var(--background-primary);
    color: var(--text-primary);
    z-index: 1;
    transition: none;
    padding: 40px;
}

/* settings */
.content .settings {
    position: fixed;
    bottom: 6px;
    right: 3px;
    max-height: 34px;
    width: 34px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: max-height 0.3s ease, width 0.3s ease;
    background-color: transparent;
}

.content .settings.open {
    max-height: 150px;
}

.content .settings i {
    font-size: 20px;
}

.content .settings .settings-toggler {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 12;
}

.content .settings .settings-toggler .toggle-setting {
    border: none;
    height: 34px;
    width: 34px;
    color: var(--text-primary);
    background-color: var(--text-accent);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: transform 0.6s ease;
}

.content .settings .settings-toggler .toggle-setting:hover {
    border: 1px solid white;
    transform: rotate(180deg);
}

.content .settings .settings-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 11;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: -20px;
}

.content .settings .settings-content.open {
    max-height: 500px;
}

.content .settings .settings-content .test {
    position: relative;
}

.content .settings .settings-content .test::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: white;
    transform: translateX(-50%);
    z-index: -1;
}

.content .settings .settings-content .setting {
    border: none;
    height: 34px;
    width: 34px;
    color: var(--text-primary);
    background-color: var(--text-accent);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 0;
}

.content .settings .settings-content .setting:hover {
    border: 1px solid white;
}

.content .settings .settings-content .setting:last-child {
    margin-bottom: 40px;
}

.content .settings .settings-content .setting.language-setting {
    cursor: not-allowed;
}

.content .settings .settings-content .setting.language-setting:hover {
    border: none;
}

/* sub content */
.content .sub-content {
    background-color: var(--background-secondary);
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 40px;
}

.content .sub-content:last-child {
    margin-bottom: 0;
}

.content .sub-content-header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: var(--text-primary);
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 2px dashed var(--text-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.content .sub-content .sub-content-header .sub-content-header-name,
.sub-content-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content .sub-content-header .sub-content-header-icon {
    font-size: 32px;
    margin-left: auto;
}

/* home */
#home {
    height: 800px;
    position: relative;
    overflow: hidden;
    z-index: 0
}

.home-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--background-gradient), var(--background-gradient));
    z-index: -1;
}

.content .sub-content .sub-content-home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .sub-content .sub-content-home .home-personal-info .sub-content-home-name {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content .sub-content-home .home-personal-info .sub-content-home-name .surname {
    color: var(--text-accent);
}

.content .sub-content .sub-content-home .home-personal-info .sub-content-home-job {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content .sub-content-home .home-personal-info .sub-content-home-job .jobname {
    position: relative;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content .sub-content-home .home-personal-info .sub-content-home-job .jobname::after {
    position: absolute;
    top: 0;
    right: -6px;
    content: '|';
    animation: blink 0.7s steps(1) infinite;
}

.content .sub-content .sub-content-home .home-website-info {
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 14px;
}

.content .sub-content .sub-content-home .home-website-info a {
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.content .sub-content .sub-content-home .home-website-info a:hover {
    color: var(--text-accent);
}

/* aboutme */
.content .sub-content .sub-content-aboutme {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
}

.content .sub-content .sub-content-aboutme .info-summary {
    width: 50%;
}

.content .sub-content .sub-content-aboutme .info-table {
    background-color: var(--background-tertiary);
    border-radius: 25px;
    width: 50%;
    padding: 20px;
}

.content .sub-content .sub-content-aboutme .info-table ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;
    text-align: left;
}

.content .sub-content .sub-content-aboutme .info-table ul>li {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid var(--text-accent);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.content .sub-content .sub-content-aboutme .info-table ul>li:last-child {
    border: none;
}

.content .sub-content .sub-content-aboutme .info-table .download-link {
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.content .sub-content .sub-content-aboutme .info-table .download-link:hover {
    color: var(--text-accent);
    border-bottom: 2px solid var(--text-accent);
}


/* resume */
.content .sub-content .sub-content-resume {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content .sub-content .sub-content-resume .resume-part {
    width: 50%;
}

.content .sub-content .sub-content-resume .resume-part .resume-part-header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;

}

.resume-part-header span {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content .sub-content-resume .education,
.experience {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.content .sub-content .sub-content-resume .experience-list>.experience:last-child,
.content .sub-content .sub-content-resume .education-list>.education:last-child {
    margin-bottom: 0px;
}

.content .sub-content .sub-content-resume .education-years,
.experience-years {
    display: flex;
    flex-direction: column;
}

.content .sub-content .sub-content-resume .start-year {
    font-weight: bold;
}

.content .sub-content .sub-content-resume .end-year {
    font-weight: bold;
    margin-top: auto;
}

.content .sub-content .sub-content-resume .education-line,
.experience-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 10px;
    color: var(--text-accent);
}

.content .sub-content .sub-content-resume .line-circle {
    width: 14px;
    height: 14px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-color: var(--text-accent);
}

.content .sub-content .sub-content-resume .line-bar {
    width: 2px;
    background-color: var(--text-primary);
    height: calc(100% - 28px);
    margin: 0;
    padding: 0;
    background: var(--text-accent);
}

.content .sub-content .sub-content-resume .education-explanation,
.experience-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .sub-content .sub-content-resume .explanation-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content .sub-content-resume .explanation-company {
    font-weight: bold;
    font-size: 12px;
    color: var(--text-accent);
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content .sub-content-resume .explanation-summary {
    font-size: 16px;
}

/* portfolio */
.content .sub-content .sub-content-portfolio .portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    border-radius: 20px;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio {
    height: 220px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    background-color: var(--background-tertiary);
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio:hover {
    border: 2px solid var(--text-primary);
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link {
    text-decoration: none;
    color: inherit;
    background-color: var(--text-accent);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link:hover {
    color: var(--hover-primary);
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-name {
    font-size: 18px;
    margin: 10px 0px;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-info {
    font-size: 14px;
    color: var(--text-secondary);
}

/* blog */
.content .sub-content .sub-content-blog .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    border-radius: 20px;
}

.content .sub-content .sub-content-blog .blog-list .blog {
    height: 220px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    background-color: var(--background-tertiary);
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.content .sub-content .sub-content-blog .blog-list .blog:hover {
    border: 2px solid var(--text-primary);
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links .blog-link {
    text-decoration: none;
    color: inherit;
    background-color: var(--text-accent);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-links .blog-link:hover {
    color: var(--hover-primary);
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-name {
    font-size: 18px;
    margin: 10px 0px;
}

.content .sub-content .sub-content-blog .blog-list .blog .blog-content .blog-info {
    font-size: 14px;
    color: var(--text-secondary);
}

/* contact */
.content .sub-content .sub-content-contact .contact-form-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.content .sub-content .sub-content-contact .contact-form-header span {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content .sub-content-contact .contact-form-content {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--text-primary);
    padding-top: 20px;
    margin-bottom: 80px;
    border-radius: 20px;
}

.content .sub-content .sub-content-contact .contact-form-content .form-part {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}

.content .sub-content .sub-content-contact .contact-form-content .personal-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-field {
    font-size: 16px;
    width: 100%;
    color: var(--text-primary);
    background-color: transparent;
    border: 2px solid var(--border-secondary);
    outline: none;
    transition: border-color 0.3s ease;
    padding: 10px;
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-field:focus {
    border-color: #0af;
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-label {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-secondary);
    pointer-events: none;
    transition: all 0.3s ease;
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-field:focus+.input-label {
    top: -30px;
    left: -10px;
    font-size: 14px;
    color: var(--text-accent);
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-field:focus+.input-label,
.content .sub-content .sub-content-contact .contact-form-content .form-part.input-filled .input-label {
    top: -30px;
    left: -10px;
    font-size: 14px;
    color: var(--text-secondary);
}

.content .sub-content .sub-content-contact .contact-form-content .form-part .input-field:focus+.input-label {
    color: var(--text-accent);
}

.content .sub-content .sub-content-contact .contact-form-content .form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content .sub-content-contact .contact-form-content .form-submit .submit-form-button {
    color: var(--text-primary);
    border: 2px solid var(--text-accent);
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: not-allowed;
    letter-spacing: 1px;
}

.content .sub-content .sub-content-contact .contact-form-additional {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px 40px;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item .icon {
    color: var(--text-accent);
    font-size: 30px;
    margin-bottom: 20px;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item .info {
    text-align: center;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item .info a {
    color: var(--text-primary);
    text-decoration: none;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item .info a:hover {
    text-decoration: underline;
}

.content .sub-content .sub-content-contact .contact-form-additional .additional-item .info #phoneNum {
    pointer-events: none;
    cursor: not-allowed;
}

/* responsive */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {

    /* layout */
    .layout {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 80px 1fr;
    }

    .sidebar {
        grid-row: 1;
        height: 80px;
        width: 100%;
    }

    .sidebar .sidebar-header {
        flex-direction: row;
    }

    .sidebar .sidebar-header .sidebar-photo {
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .sidebar-header .sidebar-photo img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .sidebar .sidebar-header .sidebar-togglebutton {
        height: 80px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .sidebar .sidebar-header .sidebar-togglebutton i {
        position: absolute;
        font-size: 35px;
    }

    .sidebar .sidebar-header .sidebar-fullname {
        position: unset;
        bottom: unset;
        width: unset;
    }

    .sidebar .menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    .sidebar .sidebar-content .menu-links li .menu-link p {
        margin: auto;
    }

    .sidebar .sidebar-content .menu-links li .menu-link {
        padding: 0px 28px;
    }

    .content {
        padding: 20px;
        grid-row: 2;
    }

    .content .sub-content {
        padding: 20px;
        margin-bottom: 20px;
        scroll-margin-top: 100px;
    }

    .content .sub-content .sub-content-aboutme {
        flex-direction: column;
    }

    .content .sub-content .sub-content-aboutme .info-summary {
        width: 100%;
    }

    .content .sub-content .sub-content-aboutme .info-table {
        width: 100%;
    }

    .content .sub-content .sub-content-resume {
        flex-direction: column;
    }

    .content .sub-content .sub-content-resume .resume-part {
        width: 100%;
        padding: 0 !important;
    }

    .content .sub-content .sub-content-resume .resume-part.educations {
        margin-top: 20px;
    }

    .content .sub-content .sub-content-contact .contact-form-content .personal-info {
        flex-direction: column;
        gap: 0px;
    }

    .content .sub-content .sub-content-contact .contact-form-additional {
        flex-direction: column;
    }

}

@media screen and (min-width: 992px) {

    .sidebar .sidebar-content.open {
        height: 0;
    }

}