:root {
    --background: #ffffff;
    --primary: #000000;
    --text: #222222;
}

.usage {
    background-color: var(--background);
    color: var(--text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
    background-color: #17181B;
    color: #777;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 10;
}

/* desktop sidebar*/
.desktop-sidebar {
    height: 100%;
    width: 250px;
    transform: translateX(0);
    ;
}

.desktop-sidebar-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.desktop-sidebar-content .photo {
    position: relative;
    width: 100%;
}

.desktop-sidebar-content .photo img {
    display: block;
    width: 100%;
    height: auto;
}

.desktop-sidebar-content .photo .full-name {
    color: white;
    width: 100%;
    position: absolute;
    background-color: rgba(23, 24, 27, 0.5);
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.desktop-sidebar-content .menu {
    width: 100%;
    margin-top: 10px;
}

.desktop-sidebar-content .menu li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #202226;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.desktop-sidebar-content .menu li:hover {
    cursor: pointer;
    background-color: #34495e;
    color: white;
}

.desktop-sidebar-content .menu li .menu-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: #777;
    text-decoration: none;
    padding: 0px 25px;
    align-items: center;
    font-size: 13px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.desktop-sidebar-content .menu li .menu-link.active {
    color: white !important;
}

.desktop-sidebar-content .menu li .menu-link .menu-icon {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.desktop-sidebar-content .footer {
    color: #777;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}

.desktop-sidebar-content .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.desktop-sidebar-content .footer ul a {
    color: #777;
    font-size: 25px;
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.desktop-sidebar-content .footer ul a:hover {
    color: white;
}

.copy p {
    line-height: 1.65;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* mobile sidebar */
.mobile-sidebar {
    color: white;
    height: 80px;
    width: 100%;
    transform: translateY(-100%);
    transition: height 0.3s ease;
}

.mobile-sidebar-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-sidebar-content .mobile-sidebar-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 12;
}

.mobile-sidebar-content .mobile-sidebar-content-header .photo {
    height: 80px;
    width: fit-content;
    padding: 10px;
}

.mobile-sidebar-content .mobile-sidebar-content-header .photo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.mobile-sidebar-content .mobile-sidebar-content-header .full-name {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    padding: 10px;
}

.mobile-sidebar-content .mobile-sidebar-content-header .toggle-button {
    cursor: pointer;
    border-radius: 20%;
    margin-right: 0;
    padding: 10px;
}

.mobile-sidebar-content .mobile-sidebar-content-header .toggle-button i {
    font-size: 35px;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 11;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mobile-sidebar.open {
    height: 100%;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #202226;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li:hover {
    cursor: pointer;
    background-color: #34495e;
    color: white;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li .menu-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: #777;
    text-decoration: none;
    padding: 0px 28px;
    align-items: center;
    font-size: 13px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li .menu-link p {
    margin: auto;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li .menu-link.active {
    color: white !important;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .menu-links li .menu-link .menu-icon {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .footer {
    color: #777;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .footer ul a {
    color: #777;
    font-size: 25px;
    margin: 0px 8px;
    transition: color 0.3s ease;
}

.mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu .footer ul a:hover {
    color: white;
}

.copy p {
    line-height: 1.65;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* content - common */
.content {
    background-color: #232323;
    color: #F8F8FF;
    z-index: 1;
    padding-top: 0;
    padding-left: 250px;
    transition: none;
}

.content .sub-content-border {
    padding: 20px;
}

.content .sub-content {
    background-color: #2C2D2F;
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.content .sub-content-header {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    border-bottom: 2px dashed white;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    align-items: end;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-name,
.sub-content-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-icon {
    font-size: 36px;
    margin-left: auto;
}

.content .sub-content-border .sub-content .sub-content-header .sub-content-header-icon {
    font-size: 36px;
    margin-left: auto;
}

/* home */
#HomeSubContent {
    position: relative;
    overflow: hidden;
    z-index: 0
}

#HomeSubContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Arka plan resmi + karartma bir arada */
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        url("../images/welcome.jpeg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    z-index: -1;
}

.content .sub-content-border .sub-content .sub-content-home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-name {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-name .surname {
    color: #0060d6;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job .jobname {
    border-bottom: 2px solid #0060d6;
}

.content .sub-content-border .sub-content .sub-content-home .sub-content-home-job .jobname::after {
    content: '|';
    animation: blink 0.7s steps(1) infinite;
    margin-left: 2px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* about */

@media screen and (max-width: 768px) {

    .desktop-sidebar {
        transform: translateX(-250px);
    }

    .mobile-sidebar {
        transform: translateY(0);
    }

    .content {
        padding-left: 0;
        padding-top: 80px;
    }

    .sub-content-border {
        scroll-margin-top: 80px;
    }

}

@media screen and (min-width: 768px) {

    .mobile-sidebar .mobile-sidebar-content .mobile-sidebar-content-menu.open {
        height: 0;
    }

}