.content .sub-content .sub-content-aboutme {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
}

.content .sub-content .sub-content-aboutme .info-summary {
    width: 50%;
}

.content .sub-content .sub-content-aboutme .info-table {
    background-color: var(--background-tertiary);
    border-radius: 25px;
    width: 50%;
    padding: 20px;
}

.content .sub-content .sub-content-aboutme .info-table ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;
    text-align: left;
}

.content .sub-content .sub-content-aboutme .info-table ul>li {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid var(--text-accent);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.content .sub-content .sub-content-aboutme .info-table ul>li:last-child {
    border: none;
}

.content .sub-content .sub-content-aboutme .info-table .download-link {
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.content .sub-content .sub-content-aboutme .info-table .download-link:hover {
    color: var(--text-accent);
    border-bottom: 2px solid var(--text-accent);
}

@media screen and (max-width: 992px) {
    .content .sub-content .sub-content-aboutme {
        flex-direction: column;
    }

    .content .sub-content .sub-content-aboutme .info-summary,
    .content .sub-content .sub-content-aboutme .info-table {
        width: 100%;
    }

}