.placeholder {
    color: #888;
    font-style: italic;
}

.content .sub-content .sub-content-portfolio .portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
    border-radius: 20px;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio {
    height: 220px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--text-accent);
    background-color: var(--background-tertiary);
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio:hover {
    border: 2px solid var(--text-primary);
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link {
    text-decoration: none;
    color: inherit;
    background-color: var(--text-accent);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-links .portfolio-link:hover {
    color: var(--hover-primary);
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-name {
    font-size: 18px;
    margin: 10px 0px;
}

.content .sub-content .sub-content-portfolio .portfolio-list .portfolio .portfolio-content .portfolio-info {
    font-size: 14px;
    color: var(--text-secondary);
}