.content .sub-content .sub-content-resume {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.content .sub-content .sub-content-resume .resume-part {
    width: 50%;
}

.content .sub-content .sub-content-resume .resume-part .resume-part-header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;

}

.resume-part-header span {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
}

.content .sub-content .sub-content-resume .education,
.experience {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.content .sub-content .sub-content-resume .experience-list>.experience:last-child,
.content .sub-content .sub-content-resume .education-list>.education:last-child {
    margin-bottom: 0px;
}

.content .sub-content .sub-content-resume .education-years,
.experience-years {
    display: flex;
    flex-direction: column;
}

.content .sub-content .sub-content-resume .end-year {
    font-weight: bold;
}

.content .sub-content .sub-content-resume .start-year {
    font-weight: bold;
    margin-top: auto;
}

.content .sub-content .sub-content-resume .education-line,
.experience-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 0px 10px;
    color: var(--text-accent);
}

.content .sub-content .sub-content-resume .line-circle {
    width: 14px;
    height: 14px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-color: var(--text-accent);
}

.content .sub-content .sub-content-resume .line-bar {
    width: 2px;
    background-color: var(--text-primary);
    height: calc(100% - 28px);
    margin: 0;
    padding: 0;
    background: var(--text-accent);
}

.content .sub-content .sub-content-resume .education-explanation,
.experience-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .sub-content .sub-content-resume .explanation-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content .sub-content-resume .explanation-company {
    font-weight: bold;
    font-size: 12px;
    color: var(--text-accent);
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content .sub-content .sub-content-resume .explanation-summary {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .content .sub-content .sub-content-resume {
        flex-direction: column;
    }

    .content .sub-content .sub-content-resume .resume-part {
        width: 100%;
    }
}