:root {
    --background-primary: #1F1F1F;
    --background-secondary: #2F3033;
    --background-tertiary: #18191C;
    --background-overlay: #18191bCC;
    --background-gradient: #00000099;

    --text-primary: #FFFFFF;
    --text-secondary: #AAAAAA;
    --text-accent: #66B2FF;

    --border-primary: #282A2D;
    --border-secondary: #999999;

    --hover-primary: #3B5C7A;
}

:root[data-theme="light"] {
    --background-primary: #FFFFFF;
    --background-secondary: #F0F0F0;
    --background-tertiary: #E0E0E0;
    --background-overlay: #FFFFFFCC;
    --background-gradient: #FFFFFF33;

    --text-primary: #111111;
    --text-secondary: #333333;
    --text-accent: #1A73E8;

    --border-primary: #CCCCCC;
    --border-secondary: #999999;

    --hover-primary: #B3D1FF;
}